@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 260px;
    padding: 20px;
}

:root {
    --primary-color: #846F66;
    --secondary-color: #B89685;
    --accent1-color: #BFADA3;
    --accent2-color: #504746;

    --heading-font: "Sevillana";
    --paragraph-font: "Roboto", "serif";

    --nav-backgrong-color: #504746;
    --nav-link-color: #B89685;
    --nav-hover-link-color: #846F66;
    --nav-hover-background-color: #846F66;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-backgrong-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}